@import url("https://fonts.googleapis.com/css?family=Lato|Oswald:600");
* {
  box-sizing: border-box; }

body {
  background: #070707;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Oswald", sans-serif;
  line-height: 1.5; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(12, 12, 12, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  font-family: "Oswald", sans-serif; }

:root {
  --type-value: 4s; }

main {
  padding: 4rem;
  height: 100%; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.2rem; }
      main .icons a:hover {
        color: #ff6600;
        -webkit-animation: icons 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: icons 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      z-index: 100;
      display: table;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      text-align: left;
      font-size: 2rem;
      margin-top: 40vh;
      -webkit-animation: flicker-in-2 2s both;
      animation: flicker-in-2 2s both;
      -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

.cover {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: 10;
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: #070707;
  transition: all 10s;
  transform: scale(0); }

.initialCover {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: 10;
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: #070707;
  transition: all 5s;
  transform: scale(0);
  -webkit-animation: scaleBig 1s both;
  animation: scaleBig 1s both; }

@keyframes scaleBig {
  0% {
    moz-transform: scale(100);
    webit-transform: scale(100);
    transform: scale(100); }
  100% {
    moz-transform: scale(0);
    webit-transform: scale(0);
    transform: scale(0); } }

.squareholder {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: -1;
  width: 300px;
  height: 300px;
  padding: 10px; }

.square {
  -webkit-animation: rotate-center 4s linear infinite alternate both;
  animation: rotate-center 4s linear infinite alternate both;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: -1;
  width: 300px;
  height: 300px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 10px; }

.progressBar {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -40vw;
  margin-top: 40vh;
  z-index: -1;
  width: 80vw;
  height: 2px;
  padding: 0px;
  background-color: #fff;
  width: 0%;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s; }

.progress-running {
  width: 80%; }

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes progressBar {
  0% {
    width: 0%; }
  100% {
    width: 80%; } }

.squareOutline {
  --direction: normal;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -125px;
  z-index: 10;
  width: 250px;
  height: 250px;
  padding: 10px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #c9c9c9 100%, #c9c9c9 100%), linear-gradient(to bottom, #c9c9c9 100%, #c9c9c9 100%), linear-gradient(to right, #c9c9c9 100%, #c9c9c9 100%), linear-gradient(to bottom, #c9c9c9 100%, #c9c9c9 100%);
  background-size: 0% 5px, 5px 0%, 0% 5px, 5px 0%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  animation-play-state: running; }

.outline-animate {
  animation-direction: normal;
  animation: bg 2s cubic-bezier(0.19, 1, 0.22, 1) 1;
  background-size: 100% 5px, 5px 100%, 100% 5px, 5px 100%; }

.outline-animate-reverse {
  animation-direction: reverse;
  animation: bg 2s cubic-bezier(0.19, 1, 0.22, 1) 1;
  background-size: 0% 5px, 5px 0%, 0% 5px, 5px 0%; }

@keyframes bg {
  0% {
    background-size: 0 5px, 5px 0, 0 5px, 5px 0; }
  25% {
    background-size: 100% 5px, 5px 0, 0 5px, 5px 0; }
  50% {
    background-size: 100% 5px, 5px 100%, 0 5px, 5px 0; }
  75% {
    background-size: 100% 5px, 5px 100%, 100% 5px, 5px 0; }
  100% {
    background-size: 100% 5px, 5px 100%, 100% 5px, 5px 100%; } }

@keyframes bg2 {
  0% {
    background-size: 0 5px, 5px 0, 0 5px, 5px 0; }
  25% {
    background-size: 100% 5px, 5px 0, 0 5px, 5px 0; }
  50% {
    background-size: 100% 5px, 5px 100%, 0 5px, 5px 0; }
  75% {
    background-size: 100% 5px, 5px 100%, 100% 5px, 5px 0; }
  100% {
    background-size: 100% 5px, 5px 100%, 100% 5px, 5px 100%; } }

.square2 {
  -webkit-animation: rotate-center 4s linear 0.25s infinite alternate both;
  animation: rotate-center 4s linear 0.25s infinite alternate both;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: -1;
  width: 300px;
  height: 300px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 10px; }

.square3 {
  -webkit-animation: rotate-center 4s linear 0.5s infinite alternate both;
  animation: rotate-center 4s linear 0.5s infinite alternate both;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: -1;
  width: 300px;
  height: 300px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 10px; }

.square4 {
  -webkit-animation: rotate-center 4s linear 0.75s infinite alternate both;
  animation: rotate-center 4s linear 0.75s infinite alternate both;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: -1;
  width: 300px;
  height: 300px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 10px; }

.square5 {
  -webkit-animation: rotate-center 4s linear 1s infinite alternate both;
  animation: rotate-center 4s linear 1s infinite alternate both;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: -1;
  width: 300px;
  height: 300px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 10px; }

.cross {
  transition: all 0.5s;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -1px;
  margin-top: -450px;
  z-index: -1;
  width: 2px;
  height: 900px;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(45deg); }

.cross1 {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -1px;
  margin-top: -450px;
  z-index: -1;
  width: 2px;
  height: 900px;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(-45deg); }

.circle {
  -webkit-border-radius: 375px;
  -moz-border-radius: 375px;
  border-radius: 375px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -375px;
  margin-top: -375px;
  z-index: -1;
  width: 750px;
  height: 750px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  /*-webkit-filter: blur(2px);
  filter: blur(2px);*/
  }

.circle1 {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -200px;
  z-index: -1;
  width: 400px;
  height: 400px;
  border: 3px solid rgba(255, 255, 255, 0.4); }

.circle2 {
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -300px;
  z-index: -1;
  width: 600px;
  height: 600px;
  border: 1.5px solid rgba(255, 255, 255, 0.4); }

.circle3 {
  -webkit-border-radius: 310px;
  -moz-border-radius: 310px;
  border-radius: 310px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -310px;
  margin-top: -310px;
  z-index: -1;
  width: 620px;
  height: 620px;
  border: 1.5px solid rgba(255, 255, 255, 0.4); }

.circle4 {
  -webkit-border-radius: 600px;
  -moz-border-radius: 600px;
  border-radius: 600px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -600px;
  margin-top: -600px;
  z-index: -1;
  width: 1200px;
  height: 1200px;
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  /*-webkit-filter: blur(3px);
  filter: blur(3px); */
  }

.circle6 {
  -webkit-border-radius: 675px;
  -moz-border-radius: 675px;
  border-radius: 675px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -675px;
  margin-top: -675px;
  z-index: -1;
  width: 1350px;
  height: 1350px;
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  /*-webkit-filter: blur(5px);
  filter: blur(5px);*/
  }

.circle5 {
  -webkit-border-radius: 850px;
  -moz-border-radius: 850px;
  border-radius: 850px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -850px;
  margin-top: -850px;
  z-index: -1;
  width: 1700px;
  height: 1700px;
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  /*-webkit-filter: blur(8px);
  filter: blur(8px); */
  }

.squareBig {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -450px;
  margin-top: -450px;
  z-index: -1;
  width: 900px;
  height: 900px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  transform: rotate(45deg); }

.biggerHolder {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: -1;
  width: 300px;
  height: 300px;
  padding: 10px;
  /*filter: blur(15px); */
  }

.squareBigger {
  -webkit-animation: rotate-center 4s linear infinite normal both;
  animation: rotate-center 4s linear infinite normal both;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -1000px;
  margin-top: -1000px;
  z-index: -1;
  width: 2000px;
  height: 2000px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  transform: rotate(20deg); }

.squareBigger2 {
  -webkit-animation: rotate-center 4s linear infinite reverse both;
  animation: rotate-center 4s linear infinite reverse both;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -1000px;
  margin-top: -1000px;
  z-index: -1;
  width: 2000px;
  height: 2000px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  transform: rotate(40deg); }

.squareBigger3 {
  -webkit-animation: rotate-center 4s linear 0.5s infinite both;
  animation: rotate-center 4s linear 0.5s infinite both;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -1000px;
  margin-top: -1000px;
  z-index: -1;
  width: 2000px;
  height: 2000px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  transform: rotate(60deg); }

.squareBigger4 {
  -webkit-animation: rotate-center 4s linear 0.5s infinite reverse both;
  animation: rotate-center 4s linear 0.5s infinite reverse both;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -1000px;
  margin-top: -1000px;
  z-index: -1;
  width: 2000px;
  height: 2000px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  transform: rotate(80deg); }

.squareLeft {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -450px;
  margin-top: -75px;
  z-index: -1;
  width: 2px;
  height: 150px;
  border: 2px solid rgba(255, 255, 255, 0.1); }

.squareRight {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: 450px;
  margin-top: -75px;
  z-index: -1;
  width: 2px;
  height: 150px;
  border: 2px solid rgba(255, 255, 255, 0.1); }

.squareUp {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: 450px;
  z-index: -1;
  width: 150px;
  height: 2px;
  border: 2px solid rgba(255, 255, 255, 0.1); }

.squareDown {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -450px;
  z-index: -1;
  width: 150px;
  height: 2px;
  border: 2px solid rgba(255, 255, 255, 0.1); }

.squareLines {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: -1;
  width: 300px;
  height: 300px;
  padding: 10px; }

.icons {
  -webkit-animation: icons 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: icons 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes flicker-in-2 {
  0% {
    opacity: 0; }
  10% {
    opacity: 0;
    text-shadow: none; }
  10.1% {
    opacity: 1;
    text-shadow: none; }
  10.2% {
    opacity: 0;
    text-shadow: none; }
  20% {
    opacity: 0;
    text-shadow: none; }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25); }
  20.6% {
    opacity: 0;
    text-shadow: none; }
  30% {
    opacity: 0;
    text-shadow: none; }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  30.6% {
    opacity: 0;
    text-shadow: none; }
  45% {
    opacity: 0;
    text-shadow: none; }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55.1% {
    opacity: 0;
    text-shadow: none; }
  57% {
    opacity: 0;
    text-shadow: none; }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3); }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3); }
  60.1% {
    opacity: 0;
    text-shadow: none; }
  65% {
    opacity: 0;
    text-shadow: none; }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1); }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1); }
  75.1% {
    opacity: 0;
    text-shadow: none; }
  77% {
    opacity: 0;
    text-shadow: none; }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  85.1% {
    opacity: 0;
    text-shadow: none; }
  86% {
    opacity: 0;
    text-shadow: none; }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); } }

@keyframes flicker-in-2 {
  0% {
    opacity: 0; }
  10% {
    opacity: 0;
    text-shadow: none; }
  10.1% {
    opacity: 1;
    text-shadow: none; }
  10.2% {
    opacity: 0;
    text-shadow: none; }
  20% {
    opacity: 0;
    text-shadow: none; }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25); }
  20.6% {
    opacity: 0;
    text-shadow: none; }
  30% {
    opacity: 0;
    text-shadow: none; }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  30.6% {
    opacity: 0;
    text-shadow: none; }
  45% {
    opacity: 0;
    text-shadow: none; }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55.1% {
    opacity: 0;
    text-shadow: none; }
  57% {
    opacity: 0;
    text-shadow: none; }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3); }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3); }
  60.1% {
    opacity: 0;
    text-shadow: none; }
  65% {
    opacity: 0;
    text-shadow: none; }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1); }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1); }
  75.1% {
    opacity: 0;
    text-shadow: none; }
  77% {
    opacity: 0;
    text-shadow: none; }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  85.1% {
    opacity: 0;
    text-shadow: none; }
  86% {
    opacity: 0;
    text-shadow: none; }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); } }

@-webkit-keyframes icons {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes icons {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
