@import url("https://fonts.googleapis.com/css?family=Lato|Oswald:600");
* {
  box-sizing: border-box; }

body {
  overflow: hidden;
  background: #070707;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Oswald", sans-serif;
  line-height: 1.5; }

.ShipHolder {
  position: fixed;
  left: 50%;
  top: 50%;
  transition: all 10s;
  height: 100%;
  width: 100%; }

.layer1 {
  position: fixed;
  z-index: -5;
  width: 80vw;
  left: 50%;
  top: 50%;
  margin-left: -40vw;
  margin-top: -16vw; }

.layer2 {
  position: fixed;
  z-index: -3;
  width: 80vw;
  left: 50%;
  top: 50%;
  margin-left: -40vw;
  margin-top: -16vw; }

.layer3 {
  position: fixed;
  z-index: -4;
  width: 80vw;
  left: 50%;
  top: 50%;
  margin-left: -40vw;
  margin-top: -16vw; }

.layer4 {
  position: fixed;
  z-index: -3;
  width: 80vw;
  left: 50%;
  top: 50%;
  margin-left: -40vw;
  margin-top: -16vw; }

.layer5 {
  position: fixed;
  z-index: -9;
  width: 80vw;
  left: 50%;
  top: 50%;
  margin-left: -40vw;
  margin-top: -16vw; }

.layer6 {
  position: fixed;
  z-index: -1;
  width: 80vw;
  left: 50%;
  top: 50%;
  margin-left: -40vw;
  margin-top: -16vw; }

.layer7 {
  position: fixed;
  z-index: -3;
  width: 80vw;
  left: 50%;
  top: 50%;
  margin-left: -40vw;
  margin-top: -16vw; }

.layer8 {
  position: fixed;
  z-index: -9;
  width: 107vw;
  left: 50%;
  top: 50%;
  margin-left: -40.5vw;
  margin-top: -15vw; }
